@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
html,body {
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    left: 0;
    top: 0;
}

.signup-img {
    position: absolute;
    width: 570px;
    height: 570px;
    left: 9px;
    top: 135px;
    background: url(Security-cuate.png);
}

.login-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 278px;
    height: 168px;
    left: 150px;
    top: 105px;
    font-style: normal;
    font-size: 52px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;

}

.left {
    position: absolute;
    width: 600px;
    height: 938px;
    left: 0px;
    top: -38px;
    background: #FFFFFF;
    box-shadow: 10px 5px 25px 10px rgba(146, 146, 146, 0.25);
}

.button-login {
    position: absolute;
    width: 445px;
    height: 58px;
    margin-top: 200px;
    margin-left: 47px;
    background: black;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: hidden;
    cursor: pointer;
    color: white;
}

.email {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: absolute;
    width: 425px;
    height: 50px;
    margin-left: 65px;
    margin-top: 40px;
    background: #dadada;
    border-radius: 10px;
    border: hidden;
    font-size: 15px;
    border: 15px solid #dadada;
}

.password {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    position: absolute;
    border: hidden;
    width: 425px;
    height: 50px;
    margin-left: 65px;
    margin-top: 115px;
    background: #dadada;
    border-radius: 10px;
    font-size: 15px;
    border: 15px solid #dadada;
}

.account {
    position: absolute;
    width: 551px;
    height: 340px;
    left: 729px;
    top: 179px;
    background: #FFFFFF;
    box-shadow: 0px 7px 20px 7px rgba(206, 205, 205, 0.81);
    border-radius: 20px;
}

.iconbox {
    position: absolute;
    width: 553px;
    height: 106px;
    left: 729px;
    top: 559px;
    background: #FFFFFF;
    box-shadow: 0px 7px 20px 7px rgba(206, 205, 205, 0.81);
    border-radius: 20px;
}

.forgot {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 280px;
    margin-left: 200px;
    color: black;
    text-decoration: none;
}

.forgot-a {
    position: absolute;
    color: black;
    margin-top: 280px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}